@import "./variables.scss";
@import "./input.scss";
@import "./button.scss";

body {
  font-family: $font;
  background: $bg-colors;
  color: $black;
  font-weight: $light;

  .title {
    font-size: 1.4em;

    &.main {
      font-weight: $bold;
      font-size: 2.4em;
    }
  }

  .edit-btn{
    cursor: pointer;
  }
}

footer {
  padding: 2rem 0;
}

footer p {
  margin: 0;
}

.create-event__data__calendar .invalid-tooltip {
  position: unset !important;
  display: block !important;
}

.header strong {
  font-size: 20px;
}
