@import './variables.scss';

.weekPicker__week {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1.5rem 0;
    width: 100%;
}

.weekpicker__week--day {
    margin: 0.5rem;
    padding: 0.3rem 0.6rem;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    cursor: pointer;
}

.weekpicker__week--day:hover {
    background-color: #f2f2f2;
}

.weekpicker__week--day.selected {
    background-color: $primary-color;
    color: $white;
}

@media screen and (max-width: 767px) {
    .weekpicker__week--day {
        padding: 0.3rem;
        width: 3.7ch;
        overflow: hidden;
        white-space: nowrap;
    }
}